<% include partials/header %>
<% include partials/navbar %>

<div class="top-stories">
    <div class="container">
        <div class="ui two column grid">
            <div class="column">
                <h1 class="primary-header">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, facilis.</h1>
            </div>
            <div class="column">
                <img srcset="img/pills.jpg" alt="pills" class="ui large bordered image float-right">
            </div>
        </div>
    </div>
</div>

<% include partials/featTopics %>

<% include partials/footer %>
