<% include ../partials/header %>
<% include ../partials/navbar %>



<h1 style="text-align: center;">Login:</h1>

<form action="/login" method="post">
    <div>
        <input class="form-control" type="text" name="username" placeholder="username" required>
    </div>
    <div>
        <input class="form-control" type="password" name="password" placeholder="password" required>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

<% include ../partials/footer %>
