<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/authentication.css"/>
<% include ../partials/navbar %>


<h1 class="text-center">Kayıt Ol:</h1>

<div class="center-content">
    <form action="/register" method="post">
        <div>
            <input type="text" name="username" placeholder="Kullanıcı Adı" required>
            <input type="password" name="password" placeholder="Şifre" required>
        </div>
        <div>
            <input type="text" name="name" placeholder="İsim">
            <input type="text" name="surname" placeholder="Soyisim">
        </div>
        <div>
            <input type="email" name="email" placeholder="E-Posta">
            <input type="text" name="degreeNo" placeholder="Diploma Numarası">
        </div>
        <div>
            <input type="text" name="title" placeholder="Doç. Dr.">
            <input type="text" name="profession" placeholder="Uzman Old. Alan">
        </div>
        <div>
            <input type="submit" value="Gönder">
        </div>
    </form>
</div>


<% include ../partials/footer %>
