<% include ../partials/header %>
<% include ../partials/navbar %>


<div class="bg-soft-blue py-20px">
    <div class="container">
        <div class="ui grid stackable">
            <div class="ten wide column">
                <h1 class="primary-header">Lorem ipsum dolor sit amet consectetur.</h1>
            </div>
            <div class="six wide column">
                <a href="/haberler/4392487239">
                    <img src="/img/germ.jpg" alt="Öne çıkan" class="ui large bordered image float-right">
                </a>
            </div>
        </div>
    </div>
</div>
<hr class="shadow">
<br>




<% include ../partials/featTopics %>

<% include ../partials/footer %>
