details p textarea {
    width: 99%;
}

details {
    z-index: -2;
}



.editBtn, .delBtn{
    background: none;
    margin-left: 7px;
    font-size: 0.7em;
    font-family: 'montserrat', sans-serif;
    cursor: pointer;
    transition: color 0.4s linear;
    transition: border-color 0.1s linear;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    vertical-align: middle;
}

.editBtn::before, .delBtn::before{
    content: "";
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 100% 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
}

.editBtn {
    color: rgb(50, 63, 243);
    border: 2px solid rgb(50, 63, 243);
}

.delBtn {
    color: #c0392b;
    border: 2px solid #c0392b;
}

.editBtn:hover, .delBtn:hover {
    color: #fff;
}

.editBtn::before{
    background-color: rgb(50, 63, 243);
}

.delBtn::before{
    background-color: #c0392b;
}

.editBtn:hover::before, .delBtn:hover::before {
    transform: scaleX(1);
}

.pageCover {
    background-color: rgba(0, 0, 0, 0.6);
    height: 10000px;
    width: 8000px;
    z-index: 10;
    position: fixed;
    top: -400px;
    transition: background-color 0.3s linear;
}

.frontOfPageCover{
    z-index: 20;
}
