<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container">
    <h1>Hastal覺klar Sayfas覺:</h1>
    <ul>
        <li>Alerjiler</li>
        <li>Kronik Hastal覺klar</li>
        <li>Terminal Hastal覺klar</li>
    </ul>
</div>

<% include ../partials/footer %>
