<% include ../partials/header %>
<% include ../partials/navbar %>


<div class="container">
    <h1 class="primary-header mb-20px pl-10px"><%= disease.name %></h1>
    <p></p>
</div>

<div class="container thin-outline py-20px" id="page-content">
    <%= disease.htmlCode %>
</div>



<% include ../partials/featTopics %>

<script src="/js/show.js"></script>

<% include ../partials/footer %>
