<% include ../partials/header %>
<% include ../partials/navbar %>


<div class="container">
    <h1 class="primary-header mb-20px pl-10px"><%= disease.name %>
        <% if(currentUser){ %>
            <a href="/hastaliklar/<%=disease._id%>/degistir">Değiştir</a>
        <% } %>
    </h1>
</div>

<br>

<div class="container thin-outline py-20px" id="page-content">
    <%= disease.htmlCode %>
</div>



<% include ../partials/featTopics %>

<script src="/js/show.js"></script>


<% include ../partials/footer %>
