<% include ../partials/header %>
<% include ../partials/navbar %>



<div class="container thin-outline py-20px">
        <h1 class="primary-header mb-20px pl-10px"><%= disease %></h1>
    <details open class="details-animated">
        <summary class="secondary-header">Hastalık Hakkında:</summary>
        <p class="details-child">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim doloribus harum voluptas necessitatibus quidem maxime assumenda sit accusamus at eveniet natus eos quam explicabo quasi error, sunt incidunt ea quae. A iste, quae autem nostrum optio animi iusto libero blanditiis eum sit eius eligendi totam quas quisquam cumque vitae alias quis voluptate inventore deleniti odit asperiores corrupti rerum? In voluptas reprehenderit reiciendis facilis mollitia? Dolores esse similique tempora, aliquam vitae cum soluta obcaecati adipisci! Dolor consequatur odio voluptatibus odit, provident asperiores rem suscipit velit magnam modi minus. Aut accusamus qui similique eius possimus consectetur, non, quaerat, illum molestias velit ipsa!</p>
        <img src="/img/germ.jpg" alt="hastaliklar" class="ui medium bordered image details-child">
    </details>
</div>
   


<% include ../partials/footer %>
