<% include ../partials/header %>
<% include ../partials/navbar %>


<div class="container mb">
    <h1 class="primary-header"><%= disease %></h1>
</div>
<div class="container">
    <div class="ui grid stackable">
        <div class="ten wide column">
            <p class="general-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quam nihil facere nobis, deserunt culpa velit quibusdam! Culpa vitae odio voluptatibus reiciendis rerum, mollitia quae ipsum! Distinctio reprehenderit recusandae facilis cupiditate, debitis explicabo optio unde laboriosam a, maiores iste excepturi illo blanditiis perspiciatis magni libero hic vel est odit repellendus ducimus, aspernatur voluptate? Libero quam hic delectus cumque! Maxime nobis tenetur omnis magni quod minus ut quisquam aperiam ipsa quidem, ratione consequuntur iusto tempora repudiandae voluptas, quam itaque possimus similique sed fugit suscipit eaque modi temporibus qui? Illo ducimus officiis suscipit magni, nobis, facere delectus voluptates possimus quia, officia numquam esse veritatis quasi perferendis voluptatibus autem soluta necessitatibus excepturi consequatur. Vel quidem illo delectus velit voluptate officiis ex pariatur fuga odio voluptates atque doloremque quasi amet consectetur iste, illum, cum incidunt distinctio possimus, quae cumque! Minima voluptates laboriosam et! Architecto optio sit sunt nisi voluptate aperiam consequuntur cupiditate! Recusandae, ad corrupti? Accusantium debitis iure accusamus perferendis illum rem praesentium voluptatibus blanditiis tenetur molestiae necessitatibus magnam, ducimus molestias, architecto deserunt odit cupiditate reprehenderit temporibus deleniti labore excepturi repellat dolorem. Molestias iure porro non deserunt adipisci ipsa, aspernatur dignissimos ea quidem sunt dicta provident quod commodi perspiciatis, voluptatem totam optio assumenda expedita.</p>
        </div>
        <div class="one wide column"></div>
        <div class="five wide column">
            <img src="/img/germ.jpg" alt="hastaliklar" class="align-right">
        </div>
    </div>
</div>
    

<% include ../partials/footer %>
